<div class="field field-xsmall field-with-validations">
  <div class="field-label">
    <%= f.label :full_name, class: "required" %>
  </div>
  <div class="field-element">
    <%= f.text_field :full_name, required: true, class: "full-width", autofocus: true %>
  </div>
</div>

<hr class="spacer small" />

<div class="field-title">
  Party Information
  <div class="field-subtitle">
    A Party is a group of associated Guests who share the same address
    and will receive a single invitation.
  </div>
</div>
<div class="field field-xsmall">
  <div class="field-element">
    <%= f.collection_select :party_id, current_account.parties.alphabetical, :id, :name, { include_blank: true }, { class: "full-width" } %>
    <div class="helper-text helper-text-bottom">
      Leave blank to automatically create a new Party
    </div>
  </div>
</div>

<hr class="divider small" />

<div class="field field-xsmall">
  <div class="field-label">
    <%= f.label :alcoholic_beverages %>
  </div>
  <div class="field-element">
    <div class="toggle-container toggle-primary">
      <!-- Had to generate manually because automated approaches would not respect .toggle:last-child style -->
      <% AlcoholicBeverage.alphabetical.each do |b| %>
        <div class="toggle">
          <%= check_box_tag "guest[alcoholic_beverage_ids][]", b.id, @guest.alcoholic_beverage_ids.include?(b.id), { id: "guest_alcoholic_beverage_ids_#{b.id}" } %>
          <label for="guest_alcoholic_beverage_ids_<%= b.id %>"><%= b.name.capitalize %></label>
        </div>
      <% end %>
    </div>
    <%= hidden_field_tag "guest[alcoholic_beverage_ids][]" %>
    <div class="helper-text helper-text-bottom">
      Check all that apply
    </div>
  </div>
</div>
