<div class="list-item" role="guest">
  <div class="list-item-icon">
    <div class="list-item-icon-circle <%= guest.attending? ? 'background-color-primary' : '' %>">
      <em class="material-icons color-white">check</em>
    </div>
  </div>
  <div class="list-item-primary">
    <%= guest.first_and_last_name %>
    <div class="list-item-primary-subtext">
      <%= guest.alcoholic_beverage_names %>
    </div>
  </div>
  <div class="list-item-secondary">
    <%= link_to "edit", edit_party_guest_path(@party.uuid, guest.uuid), class: "material-icons button-icon" %>
    <%= link_to "delete", party_guest_path(@party.uuid, guest.uuid), class: "material-icons button-icon", method: "DELETE", data: { "custom-confirm" => { template: "guest-confirm-dialog-template" } } %>
  </div>
</div>
