<% content_for(:appbar_nav_icon) { up_button(party_path(@party.uuid)) } %>
<% content_for(:appbar_title) { "Edit Guest" } %>
<% content_for(:appbar_actions) do %>
  <%= button_tag "Update", class: "button button-raised-white", data: { submit: "#guest-form" } %>
<% end %>

<%= form_for @guest, url: party_guest_path(@party.uuid, @guest.uuid), html: { id: "guest-form" } do |f| %>
<div class="card constrained-medium">
  <div class="card-header">
    <div class="card-header-primary">
      <%= @party.name %>
      <div class="card-header-primary-subtext">
        <%= pluralize @party.guests.count, "guest" %>
      </div>
    </div>
  </div>
  <div class="card-content">
    <%= render "authenticated/guests/fields", f: f %>
  </div>
  <div class="card-actions">
    <%= f.submit "Update", class: "button button-raised-primary", id: "update-guest-button" %>
    <%= link_to "Cancel", party_path(@party.uuid), class: "button button-flat-grey" %>
  </div>
</div>
<% end %>
