<% content_for(:appbar_nav_icon) { up_button(party_path(@party.uuid)) } %>
<% content_for(:appbar_title) do %>
  <%= @party.name %>
  <div class="appbar-subtitle">
    New Guest
  </div>
<% end %>
<% content_for(:appbar_actions) do %>
  <%= button_tag "Create", class: "button button-raised-white", data: { submit: "#guest-form" } %>
<% end %>

<%= form_for @guest, url: party_guests_path(@party.uuid), html: { id: "guest-form" } do |f| %>
  <div class="card constrained-medium">
    <div class="card-header">
      <div class="card-header-primary">
        <%= @party.name %>
        <div class="card-header-primary-subtext">
          <%= pluralize @party.guests.count, "guest" %>
        </div>
      </div>
    </div>
    <div class="card-content">
      <%= render "authenticated/guests/fields", f: f %>
    </div>
    <div class="card-actions">
      <%= f.submit "Create", class: "button button-raised-primary", id: "create-guest-button" %>
      <%= link_to "Cancel", party_path(@party.uuid), class: "button button-flat-grey" %>
      <%= link_to "group_add", new_party_path, class: "material-icons button-icon float-right", title: "New Party" %>
    </div>
  </div>
<% end %>
