<% content_for(:appbar_nav_icon) { up_button(user_path(@user.uuid)) } %>
<% content_for(:appbar_title) { "Edit User" } %>
<% content_for(:appbar_actions) do %>
  <%= button_tag "Update", class: "button button-raised-white", data: { submit: "#user-form" } %>
<% end %>

<%= form_for @user, as: :user, url: user_path(@user.uuid), html: { id: "user-form" } do |f| %>
  <div class="card full-width constrained-medium">
    <div class="card-header">
      <div class="card-header-primary">
        <% if @user.confirmed? %>
          <%= @user.full_name %>
          <% if @user.account_owner? %>
            <span class="color-green">Account Owner</span>
          <% end %>
        <% else %>
          <em>Invited</em>
        <% end %>
      </div>
    </div>
    <div class="card-content">
      <%= render "authenticated/users/fields", f: f %>
    </div>
    <div class="card-actions">
      <%= f.submit "Update", class: "button button-raised-primary", id: "invite-user-button" %>
      <%= link_to "Cancel", user_path(@user.uuid), class: "button button-flat-grey" %>
    </div>
  </div>
<% end %>
