<%= link_to party_path(party.uuid), class: "list-item", role: "party" do %>
  <div class="list-item-primary">
    <%= party.name %>
    <div class="list-item-primary-subtext">
      <div class="small-only">
        <i class="material-icons color-<%= party.save_the_date_sent? ? 'icon' : 'divider' %>" title="Save the Date Sent">email</i>
        <i class="material-icons color-<%= party.invitation_sent? ? 'icon' : 'divider' %>" title="Invitation Sent">email</i>
      </div>
    </div>
  </div>
  <div class="list-item-primary medium-and-large-only">
    <i class="material-icons color-<%= party.save_the_date_sent? ? 'icon' : 'divider' %>" title="Save the Date Sent">email</i>
    <i class="material-icons color-<%= party.invitation_sent? ? 'icon' : 'divider' %>" title="Invitation Sent">email</i>
  </div>
  <div class="list-item-primary">
    <% if party.has_address? %>
      <i class="material-icons color-icon">place</i>
    <% end %>
  </div>
  <div class="list-item-secondary">
    <%= party.guests.count %> / ?
  </div>
<% end %>
