<% content_for(:appbar_nav_icon) do %>
  <%= link_to "arrow_back", parties_path, class: "material-icons appbar-button" %>
<% end %>
<% content_for(:appbar_title) { "Edit Party" } %>
<% content_for(:appbar_actions) do %>
  <%= button_tag "Update", class: "button button-raised-white", data: { submit: "#party-form" } %>
  <span class="menu-container">
    <i class="material-icons appbar-button" role="menu-trigger" data-menu-id="appbar-menu">more_vert</i>
    <div class="menu menu-width-2" id="appbar-menu" data-position="top-right">
      <%= link_to party_path(@party.uuid), method: "DELETE", class: "menu-item disabled", id: "delete-party-link", data: { "custom-confirm" => { template: "party-confirm-dialog-template" } } do %>
        <div class="menu-item-icon">
          <i class="material-icons">delete</i>
        </div>
        <div class="menu-item-primary">
          Delete
        </div>
      <% end %>
    </div>
  </span>
<% end %>

<%= form_for @party, url: party_path(@party.uuid), html: { id: "party-form" } do |f| %>
  <div class="card full-width">
    <div class="card-header">
      <div class="card-header-primary">
        <%= f.text_field :name, class: "full-width font-size-large" %>
      </div>
    </div>
    <div class="card-content">
      <div class="field field-xsmall field-responsive">
        <div class="field-label">
          <%= f.label :save_the_date_sent, "Save the Date Sent?" %>
        </div>
        <div class="field-element">
          <div class="switch switch-primary">
            <%= f.check_box :save_the_date_sent, data: { "auto-submit-on-change" => false } %>
            <label for="party_save_the_date_sent"></label>
          </div>
        </div>
      </div>
      <div class="field field-xsmall field-responsive">
        <div class="field-label">
          <%= f.label :invitation_sent, "Invitation Sent?" %>
        </div>
        <div class="field-element">
          <div class="switch switch-primary">
            <%= f.check_box :invitation_sent, data: { "auto-submit-on-change" => false } %>
            <label for="party_invitation_sent"></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="spacer" />


  <div class="list list-divided list-bordered list-two-lines rounded-corners background-color-white" id="guests">
    <div class="list-header">
      <div class="list-header-primary">
        Guests
      </div>
    </div>
    <%= render partial: "authenticated/parties/guest_form", collection: @party.guests.alphabetical, as: :guest, locals: { f: f } %>
    <div class="list-item">
      <div class="list-item-primary">
        <%= f.submit "Update", class: "button button-raised-primary", id: "update-party-button" %>
        <%= link_to "Cancel", party_path(@party.uuid), class: "button button-flat-grey" %>
      </div>
    </div>
  </div>
<% end %>
