<% content_for(:appbar_nav_icon) do %>
  <%= link_to "arrow_back", party_path(@party.uuid), class: "material-icons appbar-button" %>
<% end %>
<% content_for(:appbar_title) { "Edit Party" } %>
<% content_for(:appbar_actions) do %>
  <%= button_tag "Update", class: "button button-raised-white", data: { submit: "#party-form" } %>
  <span class="menu-container">
    <i class="material-icons appbar-button" role="menu-trigger" data-menu-id="appbar-menu">more_vert</i>
    <div class="menu menu-width-2" id="appbar-menu" data-position="top-right">
      <%= link_to party_path(@party.uuid), method: "DELETE", class: "menu-item", id: "delete-party-link", data: { "custom-confirm" => { template: "party-confirm-dialog-template" } } do %>
        <div class="menu-item-icon">
          <i class="material-icons">delete</i>
        </div>
        <div class="menu-item-primary">
          Delete
        </div>
      <% end %>
    </div>
  </span>
<% end %>

<%= form_for @party, url: party_path(@party.uuid), html: { id: "party-form" } do |f| %>
  <div class="card full-width">
    <%= render "authenticated/parties/fields", f: f %>
    <div class="card-actions no-border-top">
      <%= f.submit "Update", class: "button button-raised-primary", id: "update-party-button" %>
      <%= link_to "Cancel", party_path(@party.uuid), class: "button button-flat-grey" %>
    </div>
  </div>
<% end %>
