<% content_for(:appbar_nav_icon) do %>
  <%= link_to "arrow_back", parties_path, class: "material-icons appbar-button" %>
<% end %>
<% content_for(:appbar_title) do %>
  <%= @party.name %>
  <div class="appbar-subtitle">
    <%= pluralize @party.guests.count, "guest" %>
  </div>
<% end %>
<% content_for(:appbar_actions) do %>
  <span class="menu-container">
    <i class="material-icons appbar-button" role="menu-trigger" data-menu-id="appbar-menu">more_vert</i>
    <div class="menu menu-width-2" id="appbar-menu" data-position="top-right">
      <%= link_to party_path(@party.uuid), method: "DELETE", class: "menu-item disabled", id: "delete-party-link", data: { "custom-confirm" => { template: "party-confirm-dialog-template" } } do %>
        <div class="menu-item-icon">
          <i class="material-icons">delete</i>
        </div>
        <div class="menu-item-primary">
          Remove Party
        </div>
      <% end %>
    </div>
  </span>
<% end %>

<%= link_to new_party_guest_path(@party.uuid), class: "button fab fab-secondary", id: "new-guest-fab", data: { "tooltip-position": "left", tooltip: "Add Guests" }, role: "fab" do %>
  <i class="material-icons">add</i>
<% end %>

<div class="list list-bordered list-divided list-two-lines rounded-corners background-color-white allow-room-for-fab-at-bottom">
  <%= render @party.guests.alphabetical %>
</div>

<%= render "authenticated/parties/destroy_confirm_template" %>
<%= render "authenticated/guests/destroy_confirm_template" %>
