<% content_for(:appbar_nav_icon) { up_button(parties_path) } %>
<% content_for(:appbar_title) { "Party" } %>
<% content_for(:appbar_actions) do %>
  <%= link_to "edit", edit_party_path(@party.uuid), class: "material-icons appbar-button", data: { tooltip: "Edit" } %>
  <span class="menu-container">
    <i class="material-icons appbar-button" role="menu-trigger" data-menu-id="appbar-menu">more_vert</i>
    <div class="menu menu-width-2" id="appbar-menu" data-position="top-right">
      <%= link_to party_path(@party.uuid), method: "DELETE", class: "menu-item", id: "delete-party-link", data: { "custom-confirm" => { template: "party-confirm-dialog-template" } } do %>
        <div class="menu-item-icon">
          <i class="material-icons">delete</i>
        </div>
        <div class="menu-item-primary">
          Remove Party
        </div>
      <% end %>
    </div>
  </span>
<% end %>

<%= link_to new_party_guest_path(@party.uuid), class: "button fab fab-secondary", id: "new-guest-fab", data: { "tooltip-position": "left", tooltip: "Add Guests" }, role: "fab" do %>
  <i class="material-icons">person_add</i>
<% end %>

<div class="card constrained-medium">
  <div class="card-header no-border-bottome">
    <div class="card-header-primary">
      <%= @party.name %>
    </div>
  </div>
  <!-- Fields use auto-submit so cannot use same as new/edit forms -->
  <%= form_for @party, url: party_path(@party.uuid), html: { id: "party-form" }, remote: true do |f| %>
    <div class="list list-hoverable">
      <label for="party_save_the_date_sent" class="list-item">
        <div class="list-item-primary">
          <%= f.label :save_the_date_sent, "Save the Date Sent?" %>
        </div>
        <div class="list-item-secondary">
          <div class="switch switch-primary">
            <%= f.check_box :save_the_date_sent, data: { "auto-submit-on-change" => true } %>
            <label for="party_save_the_date_sent"></label>
          </div>
        </div>
      </label>
      <label for="party_invitation_sent" class="list-item">
        <div class="list-item-primary">
          <%= f.label :invitation_sent, "Invitation Sent?" %>
        </div>
        <div class="list-item-secondary">
          <div class="switch switch-primary">
            <%= f.check_box :invitation_sent, data: { "auto-submit-on-change" => true } %>
            <label for="party_invitation_sent"></label>
          </div>
        </div>
      </label>
    </div>
  <% end %>
  <div class="card-content">
    <div class="field-title flex-parent-row">
      Mailing Address
    </div>
    <% if @party.has_address? %>
      <%= simple_format @party.mailing_address, {}, { wrapper_tag: "div" } %>
    <% else %>
      <div class="helper-text">
        No Address
      </div>
    <% end %>
  </div>
</div>

<hr class="spacer small" />

<div class="card constrained-medium allow-room-for-fab-at-bottom">
  <div class="card-header background-color-hover">
    <div class="card-header-primary">
      Guests
    </div>
  </div>
  <% if @party.guests.any? %>
    <div class="list list-divided list-two-lines" id="guests">
      <% if @party.guests.attending.any? %>
        <div class="list-header">
          <div class="list-header-primary">
            <%= @party.guests.attending.count %> Attending
          </div>
        </div>
        <%= render @party.guests.attending.alphabetical %>
      <% end %>
      <% if @party.guests.not_attending.any? %>
        <div class="list-header">
          <div class="list-header-primary">
            <%= @party.guests.not_attending.count %> Not Attending
          </div>
        </div>
        <%= render @party.guests.not_attending.alphabetical %>
      <% end %>
    </div>
  <% else %>
    <div class="list list-hoverable list-one-lines" id="guests">
      <%= link_to new_party_guest_path(@party.uuid), class: "list-item list-item-hoverable" do %>
        <div class="list-item-icon">
          <i class="material-icons">add</i>
        </div>
        <div class="list-item-primary">
          Add First Guest
        </div>
      <% end %>
    </div>
  <% end %>
</div>
