<% content_for(:appbar_nav_icon) do %>
  <%= link_to "arrow_back", parties_path, class: "material-icons appbar-button" %>
<% end %>
<% content_for(:appbar_title) do %>
  <%#= @party.name %>
<% end %>
<% content_for(:appbar_actions) do %>
  <span class="menu-container">
    <i class="material-icons appbar-button" role="menu-trigger" data-menu-id="appbar-menu">more_vert</i>
    <div class="menu menu-width-2" id="appbar-menu" data-position="top-right">
      <%= link_to party_path(@party.uuid), method: "DELETE", class: "menu-item", id: "delete-party-link", data: { "custom-confirm" => { template: "party-confirm-dialog-template" } } do %>
        <div class="menu-item-icon">
          <i class="material-icons">delete</i>
        </div>
        <div class="menu-item-primary">
          Remove Party
        </div>
      <% end %>
    </div>
  </span>
<% end %>

<%= link_to new_party_guest_path(@party.uuid), class: "button fab fab-secondary", id: "new-guest-fab", data: { "tooltip-position": "left", tooltip: "Add Guests" }, role: "fab" do %>
  <i class="material-icons">add</i>
<% end %>

<div class="card full-width">
  <header class="card-header">
    <div class="card-header-title">
      <%= link_to "edit", edit_party_path(@party.uuid), class: "material-icons button-icon float-right" %>
      <%= @party.name %>
      <div class="card-header-subtitle">
        <%= pluralize @party.guests.count, "guest" %>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="list list-divided list-two-lines" id="guests">
      <%= render @party.guests.alphabetical %>
    </div>
  </div>
</div>
