<% title "Dashboard" %>

<div class="card full-width">
  <div class="card-header">
    <div class="card-header-primary">
      Attendance
    </div>
  </div>
  <div class="list list-two-lines align-center">
    <div class="list-item">
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.parties.count %></strong>
        <div class="list-item-primary-subtext">
          Parties
        </div>
      </div>
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.guests.count %></strong>
        <div class="list-item-primary-subtext">
          Guests Invited
        </div>
      </div>
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.guests.attending.count %></strong>
        <div class="list-item-primary-subtext">
          Guests Attending
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="spacer normal" />

<div class="card full-width">
  <div class="card-header">
    <div class="card-header-primary">
      Alcohol
    </div>
  </div>
  <div class="list list-two-lines align-center">
    <div class="list-item">
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.guests.attending.joins(:alcoholic_beverages).group("guests.id").count.keys.length %></strong>
        <div class="list-item-primary-subtext">
          Drinking
        </div>
      </div>
      <% AlcoholicBeverage.all.each do |beverage| %>
        <div class="list-item-primary">
          <strong class="font-size-large"><%= beverage.guests.attending.count %></strong>
          <div class="list-item-primary-subtext">
            <%= beverage.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr class="spacer normal" />

<div class="card full-width">
  <div class="card-header">
    <div class="card-header-primary">
      Missing Information
    </div>
  </div>
  <div class="list list-two-lines align-center">
    <div class="list-item">
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.parties.missing_mailing_address.count %></strong>
        <div class="list-item-primary-subtext">
          Mailing Addresses
        </div>
      </div>
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.parties.save_the_date_not_sent.count %></strong>
        <div class="list-item-primary-subtext">
          Save the Dates not Sent
        </div>
      </div>
      <div class="list-item-primary">
        <strong class="font-size-large"><%= current_account.parties.invitation_not_sent.count %></strong>
        <div class="list-item-primary-subtext">
          Invitations not Sent
        </div>
      </div>
    </div>
  </div>
</div>
