<%= link_to edit_attendee_path(attendee.uuid), class: "list-item", role: "attendee" do %>
  <div class="list-item-icon">
    <%= attendee.party_abbreviation %>
  </div>
  <div class="list-item-primary flex-3">
    <div class="helper-text">
      <%= attendee.salutation_value %>
    </div>
    <%= attendee.full_name %>
    <div class="list-item-primary-subtext small-only">
      <% if attendee.sent_save_the_date? %>
        <span class="color-icon"><%= icon "email", size: "lg" %></span>
      <% else %>
        <span class="color-divider"><%= icon "email", size: "lg" %></span>
      <% end %>
      <% if attendee.sent_invitation? %>
        <span class="color-icon"><%= icon "email", size: "lg" %></span>
      <% else %>
        <span class="color-divider"><%= icon "email", size: "lg" %></span>
      <% end %>
      &middot;
      <%= attendee.number_attending || 0 %> /
      <%= attendee.number_invited || 0 %>
      (<%= attendee.number_who_drink || 0 %>)
    </div>
  </div>
  <div class="list-item-primary medium-and-large-only" title="Save the Date? / Invitation?">
    <% if attendee.sent_save_the_date? %>
      <span class="color-icon"><%= icon "email", size: "lg" %></span>
    <% else %>
      <span class="color-divider"><%= icon "email", size: "lg" %></span>
    <% end %>
    <% if attendee.sent_invitation? %>
      <span class="color-icon"><%= icon "email", size: "lg" %></span>
    <% else %>
      <span class="color-divider"><%= icon "email", size: "lg" %></span>
    <% end %>
  </div>
  <div class="list-item-primary medium-and-large-only" title="Attending / Invited (Drink)">
    <%= attendee.number_attending || 0 %> /
    <%= attendee.number_invited || 0 %>
    (<%= attendee.number_who_drink || 0 %>)
  </div>
  <div class="list-item-secondary one-actions">
    <%= icon "chevron-right" %>
  </div>
<% end %>
