<%= link_to edit_attendee_path(attendee.uuid), class: "list-item", role: "attendee" do %>
  <div class="list-item-icon">
    <%= attendee.party.to_s[0..1].upcase %>
  </div>
  <div class="list-item-primary flex-3">
    <div class="helper-text">
      <%= attendee.salutation_value %>
    </div>
    <%= attendee.full_name %>
  </div>
  <div class="list-item-primary">
    <% if attendee.sent_save_the_date? %>
      <span class="color-icon"><%= icon "email", size: "lg" %></span>
    <% else %>
      <span class="color-divider"><%= icon "email", size: "lg" %></span>
    <% end %>
    <% if attendee.sent_invitation? %>
      <span class="color-icon"><%= icon "email", size: "lg" %></span>
    <% else %>
      <span class="color-divider"><%= icon "email", size: "lg" %></span>
    <% end %>
  </div>
  <div class="list-item-primary">
    <%= attendee.number_attending || 0 %> /
    <%= attendee.number_invited || 0 %>
  </div>
  <div class="list-item-secondary one-actions">
    <%= icon "chevron-right" %>
  </div>
<% end %>
