<% content_for(:appbar_title) { "Attendees" } %>
<% content_for(:appbar_actions) do %>
  <%= link_to "", new_attendee_path, class: "zmdi zmdi-plus appbar-button", data: { tooltip: "Add Attendee" } %>
  <span class="appbar-divider"></span>
<% end %>

<%= link_to "", new_attendee_path, class: "button fab fab-secondary zmdi zmdi-plus", id: "new-attendee-button", data: { "tooltip-position": "left", tooltip: "Add Attendee" }, role: "fab" %>

<% if @attendees.any? %>
  <div class="list list-bordered list-divided list-hoverable rounded-corners background-color-white allow-room-for-fab-at-bottom" id="attendees">
    <div class="list-header">
      <div class="list-header-primary align-center">
        <%= Attendee.sum(:number_attending) || 0 %> /
        <%= Attendee.sum(:number_invited) || 0 %>
        <div class="list-header-primary-subtext">
          Total
        </div>
      </div>
      <div class="list-header-primary align-center">
        <%= Attendee.bride.sum(:number_attending) || 0 %> /
        <%= Attendee.bride.sum(:number_invited) || 0 %>
        <div class="list-header-primary-subtext">
          Bride
        </div>
      </div>
      <div class="list-header-primary align-center">
        <%= Attendee.groom.sum(:number_attending) || 0 %> /
        <%= Attendee.groom.sum(:number_invited) || 0 %>
        <div class="list-header-primary-subtext">
          Groom
        </div>
      </div>
      <div class="list-header-primary align-center">
        <%= Attendee.both.sum(:number_attending) || 0 %> /
        <%= Attendee.both.sum(:number_invited) || 0 %>
        <div class="list-header-primary-subtext">
          Both
        </div>
      </div>
    </div>
    <%= render @attendees %>
  </div>
<% else %>
  <%= render "authenticated/attendees/blank_state" %>
<% end %>
