<%= title "Invitations not Sent" %>

<% if @parties.any? %>
  <div class="list-subheader">
    Parties without an Invitation
  </div>
  <div class="list list-bordered list-hoverable list-two-lines list-divided rounded-corners background-color-white" id="save-the-dates">
    <% @parties.each do |letter, parties| %>
      <div class="list-header">
        <div class="list-header-primary">
          <%= letter %>
        </div>
      </div>
      <% parties.each do |party| %>
        <%= form_for party, url: invitation_path(party.uuid), html: { method: "PUT", class: "invitation-form", id: "invitation-#{party.id}-form" }, remote: true do |f| %>
          <label for="party_<%= party.id %>_invitation_sent" class="list-item border-bottom">
            <div class="list-item-primary">
              <%= party.name %>
            </div>
            <div class="list-item-secondary">
              <div class="switch switch-primary">
                <%= f.check_box :invitation_sent, id: "party_#{party.id}_invitation_sent", data: { "auto-submit-on-change" => true } %>
                <label for="party_<%= party.id %>_invitation_sent"></label>
              </div>
            </div>
          </label>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render "authenticated/invitations/blank_state" %>
<% end %>
