<% content_for(:appbar_nav_icon) do %>
  <%= link_to "", salutations_path, class: "zmdi zmdi-arrow-left appbar-button" %>
<% end %>
<% content_for(:appbar_title) { "Salutation" } %>
<% content_for(:appbar_actions) do %>
  <%= link_to "", edit_salutation_path(@salutation.uuid), class: "zmdi zmdi-edit appbar-button", data: { tooltip: "Edit" } %>
  <%= link_to "", salutation_path(@salutation.uuid), class: "zmdi zmdi-delete appbar-button", method: "DELETE", data: { "custom-confirm" => { template: "salutation-confirm-dialog-template" }, tooltip: "Delete" } %>
  <span class="appbar-divider"></span>
<% end %>

<div class="card full-width constrained-medium">
  <div class="card-header">
    <div class="card-header-title">
      <%= @salutation.value %>
    </div>
  </div>
</div>

<%= render "authenticated/salutations/destroy_confirm_template" %>
