<!DOCTYPE html>
<html>
<head>
  <title>Wedding 2017</title>
  <%= charset_meta_tag %>
  <%= viewport_meta_tag %>
  <%= mobile_fullscreen_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="/manifest.json">
</head>
<body class="has-left-sidebar controller-<%= controller_name %> action-<%= action_name %>" data-snackbar="<%= flash[:notice] %>" data-snackbar-error="<%= flash[:error] %>">
  <div id="container">
    <%= render "layouts/application/appbar" %>
    <%= render "layouts/application/left_sidebar" %>

    <main id="main">
      <div class="constrained constrained-large">
        <%= yield %>
      </div>
    </main>
  </div>

  <!-- Displayed inside overlay -->
  <div id="overlay">
    <div class="dialog" id="dialog"></div>
    <%= render "authenticated/parties/destroy_confirm_template" %>
    <%= render "authenticated/guests/destroy_confirm_template" %>
    <%= render "authenticated/users/destroy_confirm_template" %>
  </div>

  <div id="snackbar"></div>
</body>
</html>
