<!DOCTYPE html>
<html>
<head>
  <title>Wedding 2017</title>
  <%= charset_meta_tag %>
  <%= viewport_meta_tag %>
  <%= mobile_fullscreen_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="manifest" href="/manifest.json">
</head>
<body class="has-left-sidebar controller-<%= controller_name %> action-<%= action_name %>" data-snackbar="<%= flash[:notice] %>" data-snackbar-error="<%= flash[:error] %>">
  <div id="container">
    <header class="appbar" id="appbar">
      <div class="appbar-nav-icon">
        <% if content_for?(:appbar_nav_icon) %>
          <%= yield :appbar_nav_icon %>
        <% else %>
          <i class="zmdi zmdi-menu appbar-button small-and-medium-only" role="left-sidebar-toggle"></i>
        <% end %>
      </div>
      <div class="appbar-title">
        <%= yield :appbar_title %>
      </div>
      <div class="appbar-actions">
        <%= yield :appbar_actions %>
      </div>
    </header>

    <aside class="sidebar" id="left-sidebar">
      <div class="sidebar-header">
        Wedding 2017
      </div>
      <% if content_for(:left_sidebar) %>
        <%= yield :left_sidebar %>
      <% else %>
        <nav class="list list-hoverable" id="main-nav">
          <%= link_to attendees_path, class: "list-item", id: "attendees-tab" do %>
            <div class="list-item-primary">
              Attendees
            </div>
            <div class="list-item-secondary font-size-normal">
              <%= Attendee.sum(:number_attending) || 0 %> /
              <%= Attendee.sum(:number_invited) || 0 %>
            </div>
          <% end %>
          <%= link_to nil, class: "list-item", id: "venue-tab" do %>
            <div class="list-item-primary">
              Venue (todo)
              <div class="list-item-primary-subtext">
                Address, hotels, cabins, etc..
              </div>
            </div>
          <% end %>
          <%= link_to nil, class: "list-item", id: "important-contacts-tab" do %>
            <div class="list-item-primary">
              Important Contacts (todo)
              <div class="list-item-primary-subtext">
                Photographer, staff, food, DJ, etc...
              </div>
            </div>
          <% end %>
          <%= link_to salutations_path, class: "list-item", id: "salutations-tab" do %>
            <div class="list-item-primary">
              Salutations
            </div>
          <% end %>

          <hr class="divider" />

          <%= link_to users_path, class: "list-item", id: "users-tab" do %>
            <div class="list-item-primary">
              Users
            </div>
            <div class="list-item-secondary">
            </div>
          <% end %>
        </nav>
      <% end %>

      <hr class="divider" />

      <div class="list">
        <div class="list-item">
          <div class="list-item-primary">
            <%= current_user.full_name %>
            <div class="list-item-primary-subtext truncate-text">
              <span role="logged_in_as"><%= current_user.email %></span>
            </div>
            <% if current_user.admin? %>
              <div class="list-item-primary-subtext">
                Admin
              </div>
            <% end %>
            <div class="list-item-primary-subtext">
              <%= link_to "Logout", logout_path, class: "bold color-helper" %>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-primary helper-text">
            SHA1 commit <strong><%= Git::COMMIT %></strong>
          </div>
        </div>
      </div>
    </aside>

    <main id="main">
      <div class="constrained constrained-large">
        <%= yield %>
      </div>
    </main>
  </div>

  <div id="overlay"></div>
  <div class="dialog" id="dialog"></div>
  <div id="snackbar"></div>
</body>
</html>
