<!DOCTYPE html>
<html>
<head>
  <title>Wedding 2017</title>
  <%= charset_meta_tag %>
  <%= viewport_meta_tag %>
  <%= mobile_fullscreen_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="authentication-container">
    <div class="constrained constrained-small">
      <% flash.each do |key, message| %>
        <div class="authentication-flash authentication-flash-<%= key %> rounded-corners">
          <div class="box-primary">
            <%= message %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card constrained constrained-small">
      <div class="card-header align-center">
        <div class="card-header-title">
          <%= yield :authentication_title %>
        </div>
        <% if content_for?(:authentication_subtitle) %>
          <div class="card-header-subtitle">
            <%= yield :authentication_subtitle %>
          </div>
        <% end %>
      </div>
      <div class="card-content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
