<!DOCTYPE html>
<html>
<head>
  <title><%= page_title_helper %></title>
  <%= charset_meta_tag %>
  <%= viewport_meta_tag %>
  <%= mobile_fullscreen_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="authentication-container">
    <div class="constrained constrained-medium">
      <% flash.each do |key, message| %>
        <div class="constrained-small authentication-flash authentication-flash-<%= key %> rounded-corners">
          <div class="box-primary">
            <%= message %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
